.button-box-container {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    flex-flow: wrap;
    row-gap: 5px;
}

.button-box-container>button {
    cursor: pointer;
    width: 85px;
    height: 46px;
    background: 0;
    border: 0;
    border-radius: 10px;
    background-color: floralwhite;
}

@media (prefers-color-scheme: dark) {
    .button-box-container>button {
        color: black;
    }
}