.app-title {
    margin: 0 0 5px 0;
    background-color: lightslategray;
    padding: 20px;
    color: pink;
    text-align: left;
}

.app-container {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.common-button {
    padding: 5px;
    border: none;
    color: greenyellow;
    background-color: green;
    box-shadow: 1px 1px 1px greenyellow;
    cursor: pointer;
    width: max-content;
    border-radius: 5px;
    font-size: 15px;
}

.common-button:active {
    box-shadow: 0px 0px 0px greenyellow;
}

.close-button {
    align-self: flex-end;
}