.app-title {
    background-color: #18455d;
    padding: 20px;
    text-align: left;
}
.app-title > h1 {
    color: pink;
    margin: 0 0 10px 0;
    font-family: 'monster_chiller';
}

.app-title > h2 {
    color: pink;
    margin: 10px 0 0 0;
    font-family: 'monster_chiller';
}

.app-container {
    background-image: url(./../public/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 10px;
}

.common-button {
    padding: 5px;
    border: none;
    color: #f1f1f1;
    box-shadow: 1px 1px 1px #9d648d;
    cursor: pointer;
    width: max-content;
    border-radius: 5px;
    font-size: 15px;
    background-color: #9d648d;
}

.common-button:active {
    box-shadow: 0px 0px 0px #9d648d;
}

.close-button {
    align-self: flex-end;
}